<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/app.css">
    <title>My Example</title>
  </head>
  <body>
  <div class="centerme">
    <h1> Login Page </h1>
    <div id="make-inline">
    <ul id="make-inline">
      <li><a href="/registration_page">Register Account</a></li>
    </ul>
    </div>

    <form class="myForm" method="post" action="/api/auth/login">

      <p>
        <label>Username 
        <input type="username" name="username" required>
        </label> 

        <label>Password 
        <input type="password" name="password" required>
        </label>

        <button>Log In</button>
      </p>

      <p>
        <label>
        <input type="checkbox"> Remember me
        </label>
      </p>

    </form>
  </div>
  </body>
</html>