<h2 style="text-align: center">Gotsip Chatbox</h2>
<div id="chatbox", style="min-height:150px; max-height:250px; border: 1px solid black; margin-bottom: 1em">
  <%= for message <- @messages do %>
    <p><b><%= message.body %></b></p>
  <% end %>
</div>

<form id="chatbox-form">
  <%# <input type="text" placeholder="Message"> %>
  <textarea placeholder="Type Message Here" id="user-msg"></textarea>
  <button type="submit" style="margin-left: 25em">Post Message</button>
</form>

